<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.bookwormadventuresdeluxe2">

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name="com.example.bookwormadventuresdeluxe2.GlobalApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/BlackTextTheme">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/GOOGLE_API_LIBRARY_KEY" />

        <activity
            android:name="com.google.firebase.auth.internal.FederatedSignInActivity"
            android:launchMode="standard"
            tools:replace="android:launchMode" />

        <!--  Create Account Activity has theme BlackTextTheme which extends AppTheme.NoActionBar
              and is used to override default textColour to black
         -->
        <activity
            android:name=".CreateAccountActivity"
            android:parentActivityName=".LoginActivity"
            android:theme="@style/BlackTextTheme">
            <!-- The meta-data tag is required if you support API level 15 and lower  -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LoginActivity" />
        </activity>

        <activity
            android:name=".AddOrEditBooksActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MyBooksActivity" />
        </activity>

        <activity
            android:name="com.journeyapps.barcodescanner.CaptureActivity"
            android:screenOrientation="fullSensor"
            tools:replace="screenOrientation" />

        <activity
            android:name=".MyBooksActivity"
            android:launchMode="singleTop" />

        <activity
            android:name=".LoginActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".SetLocationActivity"
            android:theme="@style/BlackTextTheme">

        </activity>
        <activity
            android:name=".ViewLocationActivity"
            android:theme="@style/BlackTextTheme">

        </activity>
    </application>

</manifest>