name: Unit Tests

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 1.8
      uses: actions/setup-java@v1
      with:
        java-version: 1.8

    - name: Grant permission to the decryption script
      run: chmod +x ./encrypted_secret/decrypt.sh

    - name: Decrypt the secrets file
      run: ./encrypted_secret/decrypt.sh
      env:
        ENCRYPTION_KEY_PASSWORD: ${{ secrets.ENCRYPTION_KEY_PASSWORD }}

    - name: Grant execute permission for gradlew
      run: chmod +x gradlew

    - name: Build with Gradle
      run: ./gradlew build

    - name: Execute Unit Tests
      run: ./gradlew test

    - name: Print Unit Test Report
      uses: asadmansr/android-test-report-action@v1.2.0
      if: ${{ always() }}